span {
    font-weight: 600;
}
.my-resume-detail-container {
    width: 60%;
    height: 100%;
    margin: 20px;
}
.my-resume-detail-title {
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

.basic-info-image,
.basic-info-div {
    width: 250px;
}

.basic-info-container,
.last-degree-container,
.career-container,
.project-container,
.education-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.basic-name-div {
    font-size: xx-large;
}

.link-container {
    width: 70%;
    margin: auto;
}
.myresume-github-link,
.myresume-notion-link,
.myresume-blog-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}
