span {
    font-weight: 600;
}
.my-resume-detail-div {
    margin-bottom: 50px;
}
.my-resume-detail-container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
}
#resume-container-pdf {
    border: 0.5px solid #3d4856;
    border-radius: 10px;
}
.my-resume-detail-title {
    font-size: 30px;
    font-weight: 800;
    margin: 20px;
}

.basic-info-image,
.basic-info-div {
    width: 250px;
}

.basic-info-container,
.last-degree-container,
.career-container,
.project-container,
.education-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.basic-name-div {
    font-size: xx-large;
}

.link-container {
    width: 70%;
    margin: auto;
}
.myresume-github-link,
.myresume-notion-link,
.myresume-blog-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.main-business {
    display: block;
    font-weight: 600;
    white-space: pre-wrap;
}

.my-resume-detail-button {
    margin: 20px;
}

.edit-button,
.back-button {
    background-color: #498dcd;
    color: #ffffff;
    margin: 5px;
}
.edit-button:focus,
.back-button:focus {
    outline: none;
}
.edit-button:hover,
.back-button:hover {
    background-color: rgb(0, 108, 209);
    outline: none;
}

.delete-button {
    background-color: hsl(345, 98%, 49%);
    color: #ffffff;
    margin: 5px;
}
.delte-button:focus {
    outline: none;
}
.delte-button:hover {
    background-color: rgb(255, 0, 0);
    border: none;
}
.self-intro-container {
    width: 70%;
    margin: auto;
}
