.article-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 0.5px solid #3d4856;
}
.resume-title-div {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 84%;
    height: 40px;
    background: #ffffff;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.resume-title-box {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}
.resume-title-box::placeholder {
    font-size: 1.5rem;
    text-align: center;
}

.resume-title-box:hover {
    background: #75b2ec;
}

.resume-title-box:focus {
    outline: none;
}
.sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    border-bottom: 1px solid black;
}
.resume-profile-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.profile-image-div {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image {
    display: none;
    width: 0px;
    height: 0px;
}
.image-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.image-input-label:hover {
    cursor: pointer;
    background-color: #75b2ec;
}
.user-info-div {
    display: flex;
}
.user-name-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.user-name {
    all: unset;
    display: block;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.user-name:hover {
    background-color: #75b2ec;
}

.user-birth {
    all: unset;
    display: block;
    margin-left: 10px;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.user-birth:hover {
    background-color: #75b2ec;
}
.user-phone-num {
    all: unset;
    display: block;
    margin-left: 10px;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.user-phone-num:hover {
    background-color: #75b2ec;
}
.user-email {
    all: unset;
    display: block;
    margin-left: 10px;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.user-email:hover {
    background-color: #75b2ec;
}
.education-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.education-year,
.career-year {
    all: unset;
    display: block;
    background-color: #ffffff;
    width: 45px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.education-year:hover,
.career-year:hover {
    background-color: #75b2ec;
}
.education-month,
.career-month {
    all: unset;
    display: block;
    background-color: #ffffff;
    width: 35px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 3px;
}
.education-month:hover,
.career-year:hover {
    background-color: #75b2ec;
}
.education-select {
    all: unset;
}
.education-select:hover {
    cursor: pointer;
    background-color: #75b2ec;
}
.school-name {
    all: unset;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 5px;
}
.school-name:hover {
    background-color: #75b2ec;
}
.Major-name {
    all: unset;
    background-color: #ffffff;
    width: 200px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.Major-name:hover {
    background-color: #75b2ec;
}
.education-score {
    all: unset;
    background-color: #ffffff;
    width: 40px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.education-score:hover {
    background-color: #75b2ec;
}
.perfect-score {
    all: unset;
    background-color: #ffffff;
    width: 40px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
}
.perfect-score:hover {
    background-color: #75b2ec;
}
.link-div {
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.link-div input {
    all: unset;
    background-color: #ffffff;
    width: 400px;
    height: 25px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
}
.link-div input:hover {
    background-color: #75b2ec;
}

.github-link,
.notion-link,
.blog-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.career-div,
.project-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5px;
    /* margin-bottom: 30px; */
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
.company-name {
    all: unset;
    background-color: #ffffff;
    width: 350px;
    height: 35px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 3px;
}
.company-name:hover,
.company-profile:hover,
.company-position:hover,
.main-business:hover {
    background-color: #75b2ec;
}

.company-profile {
    all: unset;
    background-color: #ffffff;
    width: 350px;
    height: 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 3px;
}
.company-position {
    all: unset;
    background-color: #ffffff;
    width: 350px;
    height: 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 3px;
}
.main-business {
    all: unset;
    background-color: #ffffff;
    width: 350px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
}
.project-detail,
.company-task-detail {
    border: 0;
    margin: 0;
    background-color: #ffffff;
    width: 350px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
    color: #777676;
    margin: auto;
}
.cover-letter-detail {
    width: 90%;
    height: 335px;
    max-height: 335px;
    background-color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    text-align: left;
    color: #777676;
    /* background: #75b2ec; */
    margin: auto;
    border: 0;
}
.project-detail:focus-visible,
.company-task-detail:focus-visible,
.cover-letter-detail:focus-visible {
    outline: none;
}
.project-detail:hover,
.company-task-detail:hover,
.cover-letter-detail:hover {
    background-color: #75b2ec;
}

.cover-letter-div {
    width: 85%;
    height: 400px;
    margin: auto;
    margin-top: 5px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.cover-letter-title {
    all: unset;
    /* background-color: #75b2ec; */
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
}
.cover-letter-title:hover {
    background-color: #75b2ec;
}

[contenteditable='true']:empty:before {
    content: attr(placeholder);
    display: block;
}

.save-button {
    background-color: #df9f1f;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px;
}
.save-button:focus {
    outline: none;
}
.save-button:hover {
    background-color: #498dcd;
    outline: none;
}

textarea {
    resize: none;
}
.display-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-box {
    margin-top: 20px;
}
.plus-icon-div {
    display: flex;
    width: 80%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.plus-icon-div:hover {
    background-color: #75b2ec;
}
.plus-icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    font-size: 1rem;
    width: 20px;
    height: 28px;
    cursor: pointer;
}
