.write-resume-container {
    width: 100%;
    min-width: 1280px;
    min-height: 100vh;
}
.container-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
