.AppBody-container {
    height: 100%;
    width: 100%;
}
.appbody-top-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.appbody-top-section img {
    animation: buttonAppear 2s ease-in-out;
}
.button-container {
    height: 100px;
    display: flex;
    align-items: center;
    animation: buttonAppear 2s ease-in-out;
}
.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #3d4856;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: sans-serif;
    background: #df9f1f;
    margin-right: 30px;
}
.button-container button:focus,
.button-container button:hover {
    border: 0;
    outline: none;
}
.button-container button:active {
    top: 2px;
    border-color: rgba(0, 0, 0, 0.34) rgba(0, 0, 0, 0.21) rgba(0, 0, 0, 0.21);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
    position: relative;
}
@keyframes buttonAppear {
    0% {
        margin-bottom: 100px;
        opacity: 0;
    }
    100% {
        margin-bottom: 0px;
        opacity: 1;
    }
}
.appbody-text-box {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #364049;
    animation: buttonAppear 2s ease-in-out;
}
.appbody-text {
    width: 420px;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 800;
}

.appbody-text2 {
    width: 525px;
    font-size: 2rem;
    font-weight: 800;
    font-family: sans-serif;
}
